@import url(font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  box-sizing: border-box; }

html {
  font-size: 100%;
  height: 100%;
  width: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

h1,
h2,
h3 {
  text-transform: uppercase; }

#outerWrapper {
  height: 100vh;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100vw; }

#innerWrapper {
  position: absolute;
  transition: left 0.5s ease;
  width: 9999px; }
  #innerWrapper:before {
    content: "";
    clear: both; }
  #innerWrapper:after {
    content: "";
    clear: both;
    display: table; }
  #innerWrapper .slide {
    float: left;
    height: 100vh;
    position: relative;
    width: 100vw; }

#first {
  background-image: url("../img/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../img/01.jpg");
  background-image: url("../img/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../img/01.jpg");
  background-repeat: repeat, no-repeat, no-repeat;
  background-size: 100px 100px, cover, cover;
  background-position: top left, center center, center center;
  background-attachment: fixed;
  z-index: 3; }
  #first #main-content-wrapper {
    left: 50%;
    padding: 2em;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; }
    #first #main-content-wrapper > * {
      z-index: 1; }
  #first #main-content {
    position: relative;
    max-width: 100%;
    min-width: 25em;
    padding: 4.5em 3em 3em 3em;
    background: #fff;
    border-radius: 5px;
    text-align: center; }
    #first #main-content p {
      text-transform: uppercase; }
    #first #main-content .avatar {
      display: block;
      margin-bottom: 1.5em;
      position: relative; }
      #first #main-content .avatar img {
        display: block;
        margin: 0 auto;
        border-radius: 100%;
        box-shadow: 0 0 0 1.5em #fff;
        width: 125px;
        height: 125px; }
      #first #main-content .avatar::before {
        background: #c8cccf;
        content: "";
        height: 1px;
        left: -3em;
        position: absolute;
        top: 50%;
        width: calc(100% + 6em);
        z-index: -1; }
    #first #main-content footer .icons {
      display: inline-block;
      padding: 0;
      margin: 0; }
      #first #main-content footer .icons li {
        display: inline-block;
        list-style: none;
        padding: 0.675em 0.5em; }
        #first #main-content footer .icons li a {
          border: 1px solid #c8cccf;
          border-radius: 100%;
          display: block;
          height: 3.75em;
          overflow: hidden;
          position: relative;
          text-align: center;
          text-decoration: none;
          text-indent: 3.75em;
          transition: border-color 0.5s;
          white-space: nowrap;
          width: 3.75em; }
          #first #main-content footer .icons li a:before {
            color: #fff;
            text-shadow: 1.25px 0 0 #c8cccf, -1.25px 0 0 #c8cccf, 0 1.25px 0 #c8cccf, 0 -0.25px 0 #c8cccf;
            position: absolute;
            top: 25%;
            left: 0;
            width: inherit;
            height: inherit;
            line-height: inherit;
            font-size: 1.85em;
            text-align: center;
            text-indent: 0;
            transition: text-shadow 0.5s; }
          #first #main-content footer .icons li a:hover {
            border-color: #ff7496; }
            #first #main-content footer .icons li a:hover:before {
              text-shadow: 1.25px 0 0 #ff7496, -1.25px 0 0 #ff7496, 0 1.25px 0 #ff7496, 0 -0.25px 0 #ff7496; }

#second {
  background-image: url("../img/overlay.png"), -webkit-linear-gradient(60deg, rgba(0, 168, 197, 0.5), rgba(255, 255, 126, 0.35)), url("../img/02.jpg");
  background-image: url("../img/overlay.png"), linear-gradient(60deg, rgba(0, 168, 197, 0.5), rgba(255, 255, 126, 0.35)), url("../img/02.jpg");
  background-repeat: repeat, no-repeat, no-repeat;
  background-size: 100px 100px, cover, cover;
  background-position: top left, center center, center center;
  background-attachment: fixed;
  z-index: 4; }

#third {
  background-image: url("../img/overlay.png"), -webkit-linear-gradient(225deg, rgba(212, 20, 90, 0.4), rgba(251, 176, 59, 0.5)), url("../img/03.jpg");
  background-image: url("../img/overlay.png"), linear-gradient(225deg, rgba(212, 20, 90, 0.4), rgba(251, 176, 59, 0.5)), url("../img/03.jpg");
  background-repeat: repeat, no-repeat, no-repeat;
  background-size: 100px 100px, cover, cover;
  background-position: top left, center center, center center;
  background-attachment: fixed;
  z-index: 5; }

#forth {
  background-image: url("../img/overlay.png"), -webkit-linear-gradient(75deg, rgba(17, 34, 51, 0.75), rgba(255, 34, 102, 0.25)), url("../img/04.jpg");
  background-image: url("../img/overlay.png"), linear-gradient(75deg, rgba(17, 34, 51, 0.75), rgba(255, 34, 102, 0.25)), url("../img/04.jpg");
  background-repeat: repeat, no-repeat, no-repeat;
  background-size: 100px 100px, cover, cover;
  background-position: top left, center center, center center;
  background-attachment: fixed;
  z-index: 6;
  position: relative; }
  #forth #contacts {
    color: #fff;
    left: 0;
    padding: 2em 4em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%; }
    #forth #contacts i {
      text-align: center;
      width: 30px; }
    #forth #contacts p {
      margin-left: 2.3em; }
  #forth #form-content-wrapper {
    left: 50%;
    padding: 2em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    z-index: 2; }
    #forth #form-content-wrapper #form-content {
      background: #fff;
      border-radius: 5px;
      display: inline-block;
      max-width: 100%;
      padding: 3em;
      position: relative;
      text-align: center;
      width: 100%; }
      #forth #form-content-wrapper #form-content form {
        margin: 0 0 1.5em 0;
        -moz-placeholder-color: #616f77 !important;
        -moz-placeholder-opacity: 1;
        -ms-input-placeholder-color: #616f77 !important;
        -ms-input-placeholder-opacity: 1; }
        #forth #form-content-wrapper #form-content form > .field {
          margin: 0 0 1.5em 0; }
          #forth #form-content-wrapper #form-content form > .field:last-child {
            margin-bottom: 0; }
        #forth #form-content-wrapper #form-content form label {
          color: #313f47;
          display: block;
          font-size: 0.9em;
          margin: 0 0 0.75em 0; }
        #forth #form-content-wrapper #form-content form input[type="text"],
        #forth #form-content-wrapper #form-content form input[type="email"],
        #forth #form-content-wrapper #form-content form input[type="submit"],
        #forth #form-content-wrapper #form-content form textarea {
          -moz-appearance: none;
          -webkit-appearance: none;
          -ms-appearance: none;
          appearance: none;
          border-radius: 5px;
          border: solid 1px #c8cccf;
          color: inherit;
          display: block;
          font-family: "Open Sans", sans-serif;
          outline: 0;
          padding: 0 1em;
          text-decoration: none;
          width: 100%; }
          #forth #form-content-wrapper #form-content form input[type="text"]:invalid,
          #forth #form-content-wrapper #form-content form input[type="email"]:invalid,
          #forth #form-content-wrapper #form-content form input[type="submit"]:invalid,
          #forth #form-content-wrapper #form-content form textarea:invalid {
            box-shadow: none; }
          #forth #form-content-wrapper #form-content form input[type="text"]:focus,
          #forth #form-content-wrapper #form-content form input[type="email"]:focus,
          #forth #form-content-wrapper #form-content form input[type="submit"]:focus,
          #forth #form-content-wrapper #form-content form textarea:focus {
            border-color: #ff7496; }
        #forth #form-content-wrapper #form-content form input[type="text"],
        #forth #form-content-wrapper #form-content form input[type="email"],
        #forth #form-content-wrapper #form-content form input[type="submit"],
        #forth #form-content-wrapper #form-content form select {
          height: 2.75em; }
        #forth #form-content-wrapper #form-content form textarea {
          padding: 0.75em 1em;
          resize: none; }
        #forth #form-content-wrapper #form-content form input[type="submit"] {
          background: transparent;
          cursor: pointer;
          transition: all 0.5s; }
          #forth #form-content-wrapper #form-content form input[type="submit"]:hover {
            background: #ff7496;
            border-color: #ff7496;
            color: #fff; }
        #forth #form-content-wrapper #form-content form ::-webkit-input-placeholder {
          color: #616f77 !important;
          opacity: 1; }
        #forth #form-content-wrapper #form-content form ::-moz-placeholder {
          color: #616f77 !important;
          opacity: 1; }

.controllers .controller {
  cursor: pointer;
  height: 100vh;
  position: absolute;
  width: 30px;
  z-index: 10; }
  .controllers .controller i {
    color: #fff;
    font-size: 3em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }

#prev {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), transparent);
  left: 0; }
  #prev:hover {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent); }

#next {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.3), transparent);
  right: 0; }
  #next:hover {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.5), transparent); }

/*# sourceMappingURL=main.css.map */
