@import "font-awesome.min.css"
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300)

$pink: #ff7496
$gray: #c8cccf

@mixin clear()
	&:before
		content: ''
		clear: both
	&:after
		content: ''
		clear: both
		display: table

@mixin vertical-align($pos)
	position: $pos
	top: 50%
	transform: translateY(-50%)

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

html
	font-size: 100%
	height: 100%
	width: 100%

body
	font-family: 'Open Sans', sans-serif
	font-size: 1em
	font-weight: 300
	height: 100%
	margin: 0
	padding: 0
	width: 100%

h1,
h2,
h3
	text-transform: uppercase

#outerWrapper
	height: 100vh
	margin: auto
	overflow: hidden
	position: relative
	width: 100vw
#innerWrapper
	position: absolute
	transition: left .5s ease
	width: 9999px
	+clear
	.slide
		float: left
		height: 100vh
		position: relative
		width: 100vw
	#enter
		background: #fff
		border-radius: 15px
		box-shadow: 0 0 5px 1px rgba(#000, .3)
		left: 50%
		padding: 15px
		position: fixed
		text-align: center
		text-transform: uppercase
		transform: translateX(-50%)
		transition: top .5s, opacity .5s
		width: 30vw
		z-index: 999
#first
	background-image: -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../img/01.jpg")
	background-image: linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../img/01.jpg")
	background-repeat: no-repeat, no-repeat
	background-size: cover, cover
	background-position: center center, center center
	background-attachment: fixed
	z-index: 3
	#main-content-wrapper
		left: 50%
		padding: 2em
		position: fixed
		top: 50%
		transform: translate(-50%, -50%)
		z-index: 2
		& > *
			z-index: 1
	#main-content
		position: relative
		max-width: 100%
		min-width: 25em
		padding: 4.5em 3em 3em 3em
		background: #fff
		border-radius: 5px
		text-align: center
		p
			text-transform: uppercase
		.avatar
			display: block
			margin-bottom: 1.5em
			position: relative
			img
				display: block
				margin: 0 auto
				border-radius: 100%
				box-shadow: 0 0 0 1.5em #fff
				width: 125px
				height: 125px
			&::before
				background: $gray
				content: ''
				height: 1px
				left: -3em
				position: absolute
				top: 50%
				width: calc(100% + 6em)
				z-index: -1
		footer
			.icons
				display: inline-block
				padding: 0
				margin: 0
				li
					display: inline-block
					list-style: none
					padding: 0.675em 0.5em
					a
						border: 1px solid $gray
						border-radius: 100%
						display: block
						height: 3.75em
						overflow: hidden
						position: relative
						text-align: center
						text-decoration: none
						text-indent: 3.75em
						transition: border-color .5s
						white-space: nowrap
						width: 3.75em
						&:before
							color: #fff
							text-shadow: 1.25px 0 0 $gray, -1.25px 0 0 $gray, 0 1.25px 0 $gray, 0 -0.25px 0 $gray
							position: absolute
							top: 25%
							left: 0
							width: inherit
							height: inherit
							line-height: inherit
							font-size: 1.85em
							text-align: center
							text-indent: 0
							transition: text-shadow .5s
						&:hover
							border-color: $pink
							&:before
								text-shadow: 1.25px 0 0 $pink, -1.25px 0 0 $pink, 0 1.25px 0 $pink, 0 -0.25px 0 $pink
#second
	background: #fff
	overflow: auto
	position: relative
	z-index: 4
	&::-webkit-scrollbar
		width: .5em
	&::-webkit-scrollbar-track
		background: transparent
	&::-webkit-scrollbar-thumb
		background: rgba(#333, .5)
		border-radius: 5px
		transition: background .5
		&:hover
			background: rgba(#333, .7)
#works
	height: 100%
	.work
		cursor: default
		float: left
		height: 0
		overflow: hidden
		padding-bottom: 50vh
		position: relative
		width: 20%
		transition: all .5s
		&:after
			background: rgba(#000, .3)
			content: ''
			height: 100%
			left: 0
			position: absolute
			top: 0
			width: 100%
			z-index: 1
		img
			left: 0
			width: 100%
			position: absolute
			top: 0
			transition: filter 1s, transform 1s, opacity .5s
		&:hover img
			-webkit-filter: blur(3px)
			filter: blur(3px)
			-webkit-transform: scale(1.3)
			transform: scale(1.3)
		.desc
			color: #fff
			left: 0
			text-align: center
			+vertical-align(absolute)
			width: 100%
			z-index: 2
			a
				color: #fff
				display: inline-block
				padding: 5px
				border: 1px solid #fff
				text-decoration: none
				transition: background .5s, color .5s
				&:hover
					background: #fff
					color: #000
#third
	background-image: -webkit-linear-gradient(75deg, rgba(#123, 0.75), rgba(#f26, 0.25)), url("../img/02.jpg")
	background-image: linear-gradient(75deg, rgba(#123, 0.75), rgba(#f26, 0.25)), url("../img/02.jpg")
	background-repeat: no-repeat, no-repeat
	background-size: cover, cover
	background-position: center center, center center
	background-attachment: fixed
	z-index: 5
	position: relative
#contacts
	color: #fff
	left: 0
	padding: 2em 4em
	+vertical-align(absolute)
	width: 50%
	i
		text-align: center
		width: 30px
	p
		margin-left: 2.3em
#form-content-wrapper
	left: 50%
	padding: 2em
	+vertical-align(absolute)
	width: 50%
	z-index: 2
#form-content
	background: #fff
	border-radius: 5px
	display: inline-block
	max-width: 100%
	padding: 3em
	position: relative
	text-align: center
	width: 100%
	form
		margin: 0 0 1.5em 0
		& > .field
			margin: 0 0 1.5em 0
			&:last-child
				margin-bottom: 0
		label
			color: #313f47
			display: block
			font-size: 0.9em
			margin: 0 0 0.75em 0
		input[type="text"],
		input[type="email"],
		input[type="submit"],
		textarea
			-moz-appearance: none
			-webkit-appearance: none
			-ms-appearance: none
			appearance: none
			border-radius: 5px
			border: solid 1px $gray
			color: inherit
			display: block
			font-family: 'Open Sans', sans-serif
			outline: 0
			padding: 0 1em
			text-decoration: none
			width: 100%
			&:invalid
				box-shadow: none
			&:focus
				border-color: $pink
		input[type="text"],
		input[type="email"],
		input[type="submit"],
		select
			height: 2.75em
		textarea
			height: 50vh
			padding: 0.75em 1em
			resize: none
		input[type="submit"]
			background: transparent
			cursor: pointer
			transition: all .5s
			&:hover
				background: $pink
				border-color: $pink
				color: #fff
		::-webkit-input-placeholder
			color: #616f77 !important
			opacity: 1.0
		:-moz-placeholder 
			color: #616f77 !important
			opacity: 1.0
		::-moz-placeholder
			color: #616f77 !important
			opacity: 1.0
		:-ms-input-placeholder
			color: #616f77 !important
			opacity: 1.0

@media only screen and (max-width : 992px)
	#works .work
		width: 33.33%
@media only screen and (max-width : 768px)
	#works .work
		width: 50%
	#form-content-wrapper
		left: 0
		width: 100%
	#contacts
		display: none
@media only screen and (max-width : 480px)
	#works .work
		width: 100%
		.desc
			padding: 5%
	#form-content-wrapper
		padding: 0